<div id="progress" class="center">
  <h1> PROGRESS </h1>

  <% @recurrings.each do |recurring| %>
      <h2><%= @todos.where(recurring_id: recurring.id).name %></h2>
      <div class="progress">
        <div class="progress-bar progress-bar-info  progress-bar-striped active" role="progressbar" style="width: <%= 100 %>%">
        </div>
      </div>

    <% end %>

<!--   <div class="progress">
    <div class="progress-bar progress-bar-info  progress-bar-striped active" role="progressbar" style="width:70%">
      70%
    </div>
  </div>
  <h2>Gym</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-warning  progress-bar-striped active" role="progressbar" style="width:30%">
      30%
    </div>
  </div>
  <h2>Final Project</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-danger  progress-bar-striped active" role="progressbar" style="width:5%">
      5%
    </div>
  </div>
  <h2>Win</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-success  progress-bar-striped active" role="progressbar" style="width:100%">
      100%
    </div>
  </div> -->