@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

body {
  background: black url("../../images/background.jpg") fixed;
  background-size: cover;

}

.col-md-6 {
  margin: 0 auto;
  padding: 0;
}

h1 {
  color: white;
  padding: 0px;
  margin: 0px;
  font-size: 42px;
  text-shadow: 0 0 3px rgba(255,255,255,0.7);
}

h2 {
  font-family: Georgia, serif;
  color: black;
  transition: all 0.2s;
  text-shadow: -1px 0px 10px white);
}

h2:hover {
  letter-spacing: 4px;
  font-size: 33px;
  color: white;
  text-shadow: -1px 0px 10px rgb(1, 163, 165);
}
.navbar {
  background: url("../../images/background2.jpg");
  background-color: black;
  z-index: 1;
  padding-left: 30px;
  margin: 0px;
  height: 62px;
  border-top: 2px solid rgba(0,0,0,0.5);
  border-bottom: 2px solid rgba(0,0,0,0.5);
}

#brand {
  padding: 8px 8px;
  height: 60px;
}

#navbar-logo {
  height: 60px;
  padding-bottom: 10px
  top: 0px;
}

#ai {
  font-weight: bold;
  color: #59928F;
}

/* Header */
#header {
  background: rgba(175, 224, 219, 0.8) url("../../images/stripebackground.png");
  background-size:cover;
  height: 100%;
  opacity: 0;
  text-align: center;
  position: fixed;
  bottom: 520px;
  left: -280px;
  z-index: 2;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#header:hover{
  bottom: 0px;
  left: 0px;
  opacity: 0.78;
}

#headerContainer{
  width:100%;
  text-align: center;
}

#header-title{
  padding: 0;
  display: inline;
  color: aliceblue;
}

.hover-area {
  opacity: 0.5;
  color: white;
  background: rgba(41, 41, 41, 0.3);
  padding: 30px;
  width: 400px;
  border: 3px dashed rgba(41, 41, 41, 0.2);
  margin: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hover-area:hover {
  opacity: 1;
}

#addNew {
  float: left;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#addNew input {
  width: 200px;
  color: black;
  display: inline;
  margin: 10px 0px;
}

#addNew button {
  display: block;
  margin: 0 auto;

}

#braindump {
  float: left;
  width: 400px;
  padding: 20px;
}

#todo-scroll{
  height: 500px;
  overflow: auto;
  margin-top: 12px;
}

/* Calendar */
#calendar {
  width: 50%;
  position: fixed;
  left: 4%;
}

#calendar h1 {
  display: inline;
}

/* Progress */
#progress {
  width:50%;  
  position: absolute;
  left: 46%;
}

#progress h1 {
  padding-top: 15px;
}

#scheduleRecurring {
  border-radius: 20px;
  padding: 10px;
  background: rgba(233, 234, 216, 0.85);
  height: 120px;
  width: 220px;
  text-align: center;
  position: fixed;
  top: 10px;
  left: 620px;
  z-index: 2;
  margin: 0 auto;
  /*opacity: 0;*/
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;*/
}

#progress input {
  width: 193px;
}

#progress h1 {
  color: #3A3A3A;
   font-family: Oswald;
}

#progress h2 {
  background: rgba(255, 255, 255, 0.65);
  width: 66%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}


/*progress bar*/
.progress {
  height: 26px;
  width: 418px;
  padding: 0px;
  border-radius: 20px;
  margin: 0 auto;
}

.todo-progress {
  opacity: 0.8;
}

.todo-progress:hover {
  opacity: 1;
}

.table {
  color: white;
  background: rgb(246, 248, 255);
  background: -moz-linear-gradient(90deg, rgba(154, 154, 154, 0.13) 0%, rgb(191, 218, 250) 100%);
  background: -webkit-linear-gradient(90deg, rgba(154, 154, 154, 0.13) 0%, rgb(191, 218, 250) 100%);
  background: -o-linear-gradient(90deg, rgba(154, 154, 154, 0.13) 0%, rgb(191, 218, 250) 100%);
  background: -ms-linear-gradient(90deg, rgba(154, 154, 154, 0.13) 0%, rgb(191, 218, 250) 100%);
  background: linear-gradient(180deg, rgba(154, 154, 154, 0.13) 0%, rgba(0, 0, 0, 0.59) 100%);
  text-align: left;
  font-size: 16px;
  font-family: Century Gothic;
  margin-left: 5%;
  width: 90%;

  border-top-style: double;
  border-bottom-style: double;
  padding-top:5px;
  padding-bottom:5px;
  border-top-color: rgb(26, 63, 68);
  border-bottom-color: rgb(26, 63, 68);
  border-top-width:8px;
  border-bottom-width:8px;
}

.table-hover > tbody > tr:hover{
  background: rgba(0, 0, 0, 0.9);
}

#table-scroll{
  height: 73vh;
  overflow: auto;
  margin-top: 60px;
}

.row {
  position: absolute;
  top: 68px;
  width: 95%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 20px;
  background: #eee;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

li:hover {
  background: black;
  color: white;
  letter-spacing: .5px;
}

#logo{
  height: 70px;
  border-radius: 50%;
  transition: all 0.2s;
}

#logo.glow{
  box-shadow: 0 0 20px #FFF;
}

button {
  margin: 10px;
}

/* prev/next animation */
#date {
  padding-right: 15px
}

.wrap {
  position: relative;
  height: 50px;
  display: inline-block;
  left: -13px;
}

.clicker{
  position: absolute;
  background: #3A3A3A;
  border: none;
  height: 36px;
  width: 36px;
  left: 2%;
  top: 8%;
  border-radius: 100px;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.clicker:hover{
  height: 45px;
  width: 45px;
}

.circle {
  border-radius: 40px;
  width: 52px;
  height: 52px;
}

.clicker:hover + .circle {
  animation: rotator cubic-bezier(0.68, 0.21, 0.38, 0.57) .9s infinite;
  background-image: linear-gradient(45deg,
    rgba(210, 254, 222, 0) 0%,
    rgba(210, 254, 222, 0.2) 30%,
    white 30%,
    rgb(210, 254, 222) 70%,
    rgba(210, 254, 222, 0.2) 70%,
    rgba(210, 254, 222, 0.0) 100%
  );
}

.todo:hover, .done {
  text-decoration: line-through;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.3));
}

#btn-icon{
  transition: all 0.3s ease-in-out;
}
#cal-btn {
  position: absolute;
  top: 48px;
  left: 355px;
}

.btn {
  font-size: 14px;
  background: none;
  color: white;
  border-color: white;
  margin: 13px 4px;
}

.btn:hover{
  transform: scale(1.09);
  border-color: #9CD3C4;
  background: white;
  color: black;
}

.btn:hover #btn-icon{
  opacity: 0.5;
  transform: rotate(360deg);
}

.btn-info:active{
  background: rgb(186, 227, 209);
}

@keyframes rotator{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}

/* ETC */
.center {
  margin: 0 auto;
  text-align: center;
}

input {
  width: 300px;
}

.hidden {
  display:none;
}

p {
  display: inline-block;
  color: white;
}

.bod {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.blur {
  opacity:0.6;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.clickable {
  cursor: pointer;
}

.date {
  display: inline-block;
  width: 150px;
  font-family: Georgia, serif;
  color: #999;
  margin: 0 auto;
  position: relative;
  top: 0px;
 }

.day, .month, .monthShort, .year {
  position: absolute;
}

.day {
  color: white;
  font-size: 72px;
  top: 12px;
  left: -2px;
  z-index: 1;
}

.month {
  top: 0;
  left: 0;
  font-size: 35px;
  color: #C9DDBA;
  text-shadow: 0 0 5px rgba(16, 16, 16, 0.37);
}

.month-short {
  line-height: 1;
  top: 0;
  left: 0;
  font-size: 64px;
  color: transparent;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.33);
}

.year {
  top: 53px;
  color: #F8E6BE;
  left: 60px;
  font-size: 27px;
  rotation: -90deg !important;
  /* ** Hacks ** */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  z-index: 0;
} 
